@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@theme {
  --breakpoint-sm2: 420px;
  --breakpoint-sm3: 500px;
  --breakpoint-sm4: 360px;
  --breakpoint-sm: 576px;
  --breakpoint-1md: 800px;
  --breakpoint-lg: 990px;
  --breakpoint-1lg: 1030px;
  --breakpoint-xl: 1200px;
  --breakpoint-1xl: 1240px;
  --breakpoint-2xl: 1400px;

  /* Color */
  --color-defaultText: #525252;
  /* fbfbfb */
  --color-defaultBG: #fff;
  --color-primary: #dee023;
  --color-primaryHover: #b0df57;

  /* Fonts */
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-linearGradient3color: linear-gradient(
    to right,
    #dee023 0%,
    #b0df57 51%,
    #dee023 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* custom utility */
.bg-linear3 {
  background-image: var(--color-linearGradient3color);
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  color: #525252;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Animation ------- */
.nav_manu:hover .nav_manu_text {
  animation: 0.3s ease 0s 1 normal backwards running toTopFromBottom;
}
@keyframes toTopFromBottom {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
/* Button Icon Animation */
.button_icon_effect:hover .button_icon {
  animation: 0.4s ease 0s 1 normal backwards running toLeftFromRight;
}
@keyframes toLeftFromRight {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}
/* ``````` */
.animation_card_topFromBottom:hover .animation_card_topFromBottom_logo {
  animation: 0.7s ease 0.3s 1 normal backwards running toTopFromBottom;
}
@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}

/* Navbar Style */
/* Base hidden state */
.nav_manu_subnav_container {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.7s ease;
  pointer-events: none;
}

/* When hover on main nav item */
.nav_manu:hover .nav_manu_subnav_container {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}
.nav_manu:hover .nav_manu_text {
  color: #b0df57 !important;
}
.nav_manu:hover .nav_manu_text_icon {
  color: #b0df57 !important;
}

/* Navbar SabNav Hover Effect */
.nav_manu_subnav_hover_effect {
  width: 0px;
  transition: width 0.3s ease; /* Smooth both on hover and on leave */
  overflow: hidden; /* optional, in case of text inside */
  margin-right: 5px;
}
.nav_manu_subnav:hover {
  background: #f3f3f3;
  color: #b0df57;
}
.nav_manu_subnav:hover .nav_manu_subnav_text_icon {
  color: #b0df57 !important;
}

.nav_manu_subnav:hover .nav_manu_subnav_hover_effect {
  width: 10px;
}

/* Second Sub  */
.nav_manu_secondsubnav_container {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.7s ease;
  pointer-events: none;
}
/* When hover on main nav item */
.nav_manu_subnav:hover .nav_manu_secondsubnav_container {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

/* Navbar Second SabNav Hover Effect */
.nav_manu_second_subnav_hover_effect {
  width: 0px;
  transition: width 0.3s ease; /* Smooth both on hover and on leave */
  overflow: hidden; /* optional, in case of text inside */
  margin-right: 5px;
}
.nav_manu_second_subnav:hover {
  background: #f3f3f3;
  color: #b0df57;
}
.nav_manu_second_subnav:hover .nav_manu_second_subnav_hover_effect {
  width: 10px;
}

/* Sticky Navbar Animation */
.StickyNavbarAnimation {
  animation: stickyNavbarAnimation_Transition 0.8s forwards;
}
@keyframes stickyNavbarAnimation_Transition {
  0% {
    transform: translateY(-90px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*! Home _ Page --- Banner --- Section */
/* banner_caption_img1
banner_caption_img2
banner_main_img1
banner_main_img2 */

.banner_main_img1{
  animation: bannerMainImageAnimation 1.2s forwards;
}
.banner_main_img2{
  animation: bannerMainImageAnimation 1.2s forwards;
}
@keyframes bannerMainImageAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 10;
  }
}
.banner_caption_img1{
  animation: bannerCaptionAnimation1 1.2s forwards;
}
@keyframes bannerCaptionAnimation1 {
  0% {
    opacity: 0;
    transform: translateX(-90px);
  }
  100% {
    opacity: 10;
    transform: translateY(0px);
  }
}
.banner_caption_img2{
  animation: bannerCaptionAnimation2 1.2s forwards;
}
@keyframes bannerCaptionAnimation2 {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    opacity: 10;
    transform: translateY(0px);
  }
}